<h1>About</h1>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "anshi.jpeg", width: 250, alt: "Profile Image" %>
	</div>
	<div class="col-md-8">
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
		<p>This is a site where you could post your blogs and portfolios.</p>
	</div>
</div>
